mixin progressBar(value, color)
    .soft-skills__progress-bar
        svg.soft-skills__svg
            circle(cx="80" cy="80" r="65" stroke="#c4c4c4" stroke-width="15")
            circle.soft-skills__circle(cx="80" cy="80" r="65" stroke= color stroke-width="20")
        span.soft-skills__value= value
