mixin progressBar(value, color)
    .soft-skills__progress-bar
        svg.soft-skills__svg
            circle(stroke="#c4c4c4" stroke-width="15")
            circle.soft-skills__circle(stroke= color stroke-width="20")
        span.soft-skills__value= value
