//  Color
    $white:                                     #fff
    $black:                                     #000
    $blue:                                      #00A6FB
    $lightGreen:                                #E4FF1A
    $red:                                       #D00000
    $lightGrey:                                 #ededed
    $darkGrey:                                  #3F3F3F

//  Fonts
    $basicFont:                                 "sanserif"
