.portfolio-article__item
    width: 49%
    position: relative
    display: flex
    margin-top: 130px
    box-shadow: 0 0 10px rgba(0,0,0,0.3)
    &:first-child
        margin-top: 0
    &:nth-child(2)
        margin-top: 0

.portfolio-article-tag__list
    display: flex
    position: absolute
    left: 0
    bottom: 0
    transform: translate(0, 100%)
    border-radius: 0 0 20px 20px
    width: 100%
    padding: 10px
    background: $darkGrey
    box-shadow: 0 0 10px rgba(0,0,0,0.3)

.portfolio-article-tag__item
    display: flex
    padding: 5px 10px
    background: $red
    font-weight: 700
    border-radius: 30px
    text-transform: uppercase
    @include font ($basicFont, 0.875rem, $white)
    margin-right: 10px
    &:last-child
        margin-right: 0

.portfolio-article-img__item
    width: 100%
    height: 100%
    overflow: hidden

.portfolio-article__img
    width: 100%
    height: 100%
    object-fit: cover
    
.portfolio-article__main-wrap 
    display: flex
    justify-content: space-between
    position: absolute
    left: 0
    top: 0
    transform: translate(0, -100%)
    border-radius: 20px 20px 0 0
    width: 100%
    padding: 10px
    background: $darkGrey
    box-shadow: 0 0 10px rgba(0,0,0,0.3)

.portfolio-article__title
    margin-top: 0
    @include font ($mainFont, $mediumText, $white)

.portfolio-article__link
    border: 1px solid transparent
    border-radius: 50%
    padding: 0 13px
    background: $red
    display: flex
    align-items: center
    justify-content: center
    color: $white
    transition: all ease-in .2s
    &:hover
        border: 1px solid $white
        background: none