mixin portfolioArticle(title, descr, img, link, tags, images)
    li.portfolio-article__item
        .portfolio-article__main-wrap 
            h3.portfolio-article__title= title
            a.portfolio-article__link
                i.fas.fa-external-link-square-alt
        ul.portfolio-article-img__list 
            li.portfolio-article-img__item
                img.portfolio-article__img(src= img)
        ul.portfolio-article-tag__list
            each tag in tags 
                li.portfolio-article-tag__item= tag

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
//- li.portfolio-article__item
//-     .portfolio-article__text
//-         h3.portfolio-article__title= title
//-         .portfolio-article__link-tag 
//-             a.portfolio-article__link(href= link)
//-                 | Link
//-             ul.portfolio-article-tag__list
//-                 each tag in tags
//-                     li.portfolio-article-tag__item= tag
//-         p.portfolio-article__descr= descr
//-     .portfolio-article__img-wrap
//-         .portfolio-article__img-main-wrap(src= img)
//-             img.portfolio-article__img-main(src= img)
//-         ul.portfolio-article-img__list
//-             each image in images
//-                 li.portfolio-article-img__item
//-                     img.portfolio-article__img-sub(src= image)
