.sort-block 
    position: relative
    overflow: hidden
    padding: 0 0 100px 0
    &::after
        content: ''
        width: 130%
        height: 400px
        background: $black
        position: absolute
        bottom: -150px
        left: -200px
        transform: rotate(-7deg)
        z-index: -1

.sort-block__form-wrap 
    width: 100%
    margin-top: 50px
    display: flex
    justify-content: space-between

.sort-block__form-search
    width: 70%

.sort-block__search
    width: 100%
    border-radius: 10px
    display: flex
    justify-content: space-between
    position: relative
    background: $lightGrey

.sort-block__icon
    position: absolute
    left: 30px
    top: 50%
    transform: translate(0, -50%)
    color: $darkGrey
    font-size: 1.5rem

.sort-block__input
    width: 100%
    padding: 28px 28px 28px 80px
    background: none
    border: none
    font-weight: 700
    text-transform: uppercase
    @include font ($basicFont, 1.125rem, $darkGrey)
    &::placeholder 
        @include font ($basicFont, 1.125rem, $darkGrey)

.sort-block__button
    font-weight: 700
    text-transform: uppercase
    @include font ($basicFont, 1.125rem, $white)
    border-radius: 0 10px 10px 0
    padding: 0 80px
    border: none
    background: $blue

.sort-block__sort
    width: 100%
    border-radius: 10px
    display: flex
    justify-content: space-between
    position: relative
    background: $lightGrey

.sort-block__label 
    padding: 28px 28px 28px 28px
    font-weight: 700
    text-transform: uppercase
    @include font ($basicFont, 1.125rem, $darkGrey)

.sort-block__select
    font-weight: 700
    text-transform: uppercase
    @include font ($basicFont, 1.125rem, $white)
    border-radius: 0 10px 10px 0
    padding: 0 40px
    border: none
    background: $blue
    appearance: none