section.sort-block 
    .container.f-d-c.j-c-c.a-i-c
        .sort-block__form-wrap 
            form.sort-block__form-search
                .sort-block__search
                    i.sort-block__icon.fas.fa-search
                    input.sort-block__input(placeholder="search your article... ")
                    button.sort-block__button search
            form.sort-block__form-sort
                .sort-block__sort
                    label.sort-block__label 
                        | sort by:
                    select.sort-block__select
                        option.sort-block__select-options newest
                        option.sort-block__select-options A - Z 
                        option.sort-block__select-options Z - A