.video#home
    video.video__video(autoplay muted loop poster="https://ilkrbk.github.io/bike/dist/img/video-bg.jpg")
        source(src="https://ilkrbk.github.io/bike/dist/img/video-bg.mp4" type="video/mp4")
        source(src="https://ilkrbk.github.io/bike/dist/img/video-bg.webm" type="video/webm")
    .video__text-wrap
        h1.video__title Biking extreme, sport, tourism.
        p.video__descr
            | Сейчас трудно найти человека, который не хотел бы отправиться в путешествия — новые города, в которых вы никогда не бывали, прекрасные ландшафты и пейзажи, не такие как на Родине, могучие реки, поросшие цветами озёра, новые люди, впечатления, лица, уходящая вдаль дорога; и всё это — тонкая линия, начерченная вами на яркой карте.