section.main
    .container.d-f--f-d-c--j-c-s-b
        .main__text-wrap 
            h1.main__title Hello, I'm Ilya Korobka
            h2.main__subtitle Freelance web Desing & Developer
        .main__img-wrap
            img.main__img(src="img/ilya-korobka.png", alt="ilya-korobka")