.articles
    position: relative
    overflow: hidden
    padding: 0 0 100px 0
    &::after
        content: ''
        width: 130%
        height: 400px
        background: $black
        position: absolute
        bottom: -150px
        left: -200px
        transform: rotate(-7deg)
        z-index: -1

.articles__list
    margin-top: 50px
    display: flex
    flex-wrap: wrap
    width: 100%

.articles__btn
    margin-top: 100px
    @include btn ($mediumText, $white, $blue, 18px 34px, none)