extends ../../components/info-static/info-static.pug
block value
    -
        var list = [
            {
                iconClass: 'fa-star',
                value: '1024',
                title: 'contributors'
            },
            {
                iconClass: 'fa-star',
                value: '6429',
                title: 'stars'
            },
            {
                iconClass: 'fa-star',
                value: '120',
                title: 'repositories'
            },
            {
                iconClass: 'fa-star',
                value: '21',
                title: 'languages'
            },
        ]

block title 
    | Github
block item 
    span.github__value= item.value
    i.fas.github_icon(class= item.iconClass)
    h3.github__descr= item.title