-
    var img = [
        "https://ilkrbk.github.io/bike/dist/img/pic1.jpg", 
        "https://ilkrbk.github.io/bike/dist/img/pic2.jpg", 
        "https://ilkrbk.github.io/bike/dist/img/pic3.jpg", 
        "https://ilkrbk.github.io/bike/dist/img/pic4.jpg", 
        "https://ilkrbk.github.io/bike/dist/img/pic5.jpg", 
        "https://ilkrbk.github.io/bike/dist/img/pic6.jpg"
        ]

.gallery#gallery
    .container.j-c-c.f-d-c
        h2.gallery__title Gallery
        p.gallery__descr
            | Совместный отдых и помощь друг другу ключевые факторы нашего сообщества. Каждый велосипедист понимает важность взаимовыручки на дороге.
        ul.gallery__list
            - for (let i = 0; i < img.lenght; i++)
            each item in img
                li.gallery__item
                    img.gallery__img(src= item alt="imgModal")
                    i.fas.fa-search-plus
        button.gallery__btn more
#modal.modal
    span.modal__close
        i.fas.fa-times
    img.modal__image#modal1(src="" alt="modal")