-
    var blog = [
        {
            img: "https://ilkrbk.github.io/myProject/velo/PUG%20SASS/dist/img/pic7.jpg",
            title: "Возврат и обмен велосипеда",
            descr: "Если в процессе использования велосипеда возникли технические неполадки или были выявлены неисправности связанные с производственным браком, то и в этом случае нам поможет закон «О защите прав потребителя». Закон гласит, что товар ненадлежащего качества можно вернуть или обменять в течение его срока годности, но это в том случае, если на данный товар не предусмотрен гарантийный срок. На велосипед же, почти всегда, устанавливается гарантийный срок, с определенными условиями",
            date: "10.03.2018"
        },
        {
            img: "https://ilkrbk.github.io/myProject/velo/PUG%20SASS/dist/img/pic8.jpg",
            title: "Скорость развиваемая велосипедом",
            descr: "Конечно скоростные показатели сильно зависят от физических кондиций велосипедиста, поэтому результаты профессиональных спортсменов сильно отличаются от любительских. Абсолютный рекорд скорости на велосипеде составляет 268 км/ч, но при определенных условиях. Обладатель рекорда Фред Ромпелберг двигался под прикрытием специального автомобиля с обтекателем, который не только исключал сопротивление воздуха, но и создавал вихрь тянущий Фреда за собой. Рекорд максимальной скорости при спуске с горы на MTB байке держится на уровне 210 км/ч.",
            date: "08.03.2018"
        },
        {
            img: "https://ilkrbk.github.io/myProject/velo/PUG%20SASS/dist/img/pic9.jpg",
            title: "Езда по грязи и песку",
            descr: "Для грязевых участков разной протяженности, нужно подбирать правильно скорость при въезде в грязь. Если промежуток небольшой, то можно проскочить его на хорошей скорости, но такой, чтобы не потерять управление. Кроме того, имейте в виду, что под водой и грязью могут быть препятствия в виде камней и ям. Если участок значительный, то не стоит въезжать туда на большой скорости, скорей всего это приведет к сносу переднего колеса и потере управляемости.При движении тело должно быть расслабленным, а нагрузка на велосипед распределена равномерно. Необходимо быть готовым среагировать в любой момент, для удержания равновесия. Как только получается удерживать равновесие, стоит немного загрузить заднее колесо, для лучшего сцепления.При движении тело должно быть расслабленным, а нагрузка на велосипед распределена равномерно. Необходимо быть готовым среагировать в любой момент, для удержания равновесия. Как только получается удерживать равновесие, стоит немного загрузить заднее колесо, для лучшего сцепления.Как и в обычном режиме, при движении по грязи нужно смотреть не под переднее колесо, а туда, куда едешь. Необходимо заранее обдумывать маршрут движения до сухого участка. В грязи и песке переднее колесо так и норовит снести в сторону, поэтому активная рулежка неотъемлемая часть грязевых покатушек.Важнейшее условия прохождения длительных участков грязи – это постоянный каденс, только перестанете крутить педали и считайте, что увязли. Именно равномерное усилии на педали поможет пройти даже сложные участки. Как раз для этого и нужен исправный переключатель скоростей, от работы которым зависит 50 % успеха. Как только чувствуете, что колесо вязнет, переходите на более низкую передачу.",
            date: "06.03.2018"
        },
        {
            img: "https://ilkrbk.github.io/myProject/velo/PUG%20SASS/dist/img/pic10.jpg",
            title: "Городской велосипед",
            descr: "Жители крупных городов часто сталкиваются с проблемой выбора транспорта для поездки на работу, в магазин и т.д. Конечно самый удобный способ – личный автомобиль, но в последнее время очень медленный, пробки на догах «съедают» часы драгоценной жизни. Общественный транспорт – если он быстро довозит до нужных мест и вас не смущают «тесное» общение, то Вам – повезло, обычно он и ходит не быстро и не всегда доводит до нужного места. Мотоциклы, мопеды – хороши в современном городе, но риск получить травму велик и хранить такой транспорт не всегда удается. Велосипед – простой, доступный, без проблем дает передвигаться в радиусе 10-15км от дома, без затрат, пробок и толчеи; есть недостатки - не все могут ездить в плохую погоду, нужна начальная физическая подготовка. Если вы стали обладателем городского велосипеда, пожалуйста, соблюдайте ПДД, уважайте пешеходов – помните у них почти всегда преимущество.",
            date: "04.03.2018"
        },
        {
            img: "https://ilkrbk.github.io/myProject/velo/PUG%20SASS/dist/img/pic11.jpg",
            title: "Хардтейл или двухподвес",
            descr: "Большая стоимость двухподвеса обусловлена такой деталью, как второй амортизатор, его ценник сам по себе уже довольно-таки высокий, причём для многих велосипедистов стоимость заднего амортизатора будет превалировать над стоимостью переднего амортизатора. Задний амортизатор больше отрабатывает неровности дороги, и за это цениться велосипедистами которые катают в стиле 'Экстрим'. Что касается хардтейла, то за ту же цену вы получите хороший велосипед с навеской приближенной к топовому уровню. У хардтейла нет заднего амортизатора, поэтому вам не придется его обслуживать и вы не будете переплачивать за дополнительные комплектующие. Подводя итоги сравнения этих двух типов велосипедов, можно с уверенностью сказать, что для обычного спокойного и умеренного катания ваш выбор Хардтейл, если вы любитель поднять адреналин в крови, спускаясь или поднимаясь по ухабам и склонам, то пересаживайтесь на двухподвес.",
            date: "02.03.2018"
        },
        {
            img: "https://ilkrbk.github.io/myProject/velo/PUG%20SASS/dist/img/pic12.jpg",
            title: "Как выбрать первый велосипед?",
            descr: "В наше время велосипед это не просто средство передвижения! Называете его как хотите: братишка, лучший друг, двухколесный друг, спортинвентарь, стиль жизни - мы поможем подобрать велосипед по вашим предпочтениям в езде и независимо от того какой велосипед вы выберете существует несколько деталей на которые стоит обратить внимание.Материалы рамы влияют на накат и скорость велосипеда. Последнее время производители велосипедов используют алюминиевые сплавы, тем ни менее, есть динозавры производства которые все еще используют сталь. В ней есть свои преимущества тем, но когда будете приобретать такой велосипед вспомните насколько тяжело тащить его на этаж.Сделайте выбор в пользу переключателя с алюминиевым корпусом его легче настроить он не будет ломаться. Старые рамы делали с интегриррованой серьгой, в народе, с петухом на раме - это приводило к массе проблем. Со съемным петухом ваша рама и ваш переключатель будут в полной безопасности, по-скольку при падении такая маленькая деталь вашего велосипеда возьмет на себя большую часть повреждений. Ведь маленькую дешовую деталь легче заменить чем дорогой переключатель? Правильно?Тормоз дисковый или ободной? Если у вас в приоритете стоит езда по бездорожью то есть большой риск загрязнить обод или же поставить восьмерку, тогда на ободном тормозе будет проблематичнее тормозить, тем не мение, проблемы с дисковыми тормозами обходится намного дороже. Если оба велосипеда в одной ценовой категории лучше выбрать конечно же ободной, по-скольку хороший ободной на много лучше чем дешевые дисковые системы. Если всё же выбор пал на дисковые тормоза остается вопрос - гидравлические или механические? Если уровень вашего катания любительский, впринцыпе, с головой сойдет  механика, но у  гидравлики есть свои плюсы которые могут оценить не только профи. Задайте себе такой вопрос любите ли вы сидеть в мастерских в долгих раздумиях о ДОТе или органическом масле? Запомните, гидравлический тормоз не должен быть дешевым - скупой платит дважды.Кассета или трещотка? Кассета, однозначно. Трещотка это достаточно устаревшая система которая заставляет вас часто менять трансмиссии. И ещё пара мелочей в передачу - очень редко производители комплектуют свои велосипеды хорошими педалями, они служат для того чтобы вы смогли прокатиться и попробовать этот велосипед. Поэтому при покупке велосипеда сразу же приобретите педали по вкусу.  Далее в этот список попадают грипсы на замках, потому как ровно через месяц ваши грипсы возможно начнут прокручиваться. Сюда же берем задний фонарик и защиту пера - не забываете эти важные элементы.",
            date: "28.02.2018"
        },
        {
            img: "https://ilkrbk.github.io/myProject/velo/PUG%20SASS/dist/img/pic13.jpg",
            title: "Как ширина покрышки влияет на езду велосипеда",
            descr: "Вело покрышки для шоссейных велосипедов выпускаются в размерах 19мм, 23мм, 25мм и 28мм.Чем уже покрышка тем лучше ее накат, но для безопасной езды на них нужен асфальт хорошего качества, иначе есть вероятность повредить покрышку, обод и вообще это не безопасно.Производители ставят покрышки 23мм, но если планируются маршруты где не очень хороший асфальт ставят 25мм на накате это не очень сказывается.Размер 28мм считается все дорожным и даже «зимним». Но установить их получится далеко не на каждый велосипед, так как зазоры между вилкой и перьям очень маленький. Вело покрышки для шоссейных велосипедов выпускаются в размерах 19мм, 23мм, 25мм и 28мм.Чем уже покрышка тем лучше ее накат, но для безопасной езды на них нужен асфальт хорошего качества, иначе есть вероятность повредить покрышку, обод и вообще это не безопасно.Производители ставят покрышки 23мм, но если планируются маршруты где не очень хороший асфальт ставят 25мм на накате это не очень сказывается.Размер 28мм считается все дорожным и даже «зимним». Но установить их получится далеко не на каждый велосипед, так как зазоры между вилкой и перьям очень маленький.",
            date: "26.02.2018"
        }
    ]

-
    var social = [
        "fa-thumbs-up",
        "fa-comment",
    ]

.blog#blog
    .container.f-d-c
        h2.blog__title Blog
        p.blog__descr
            | Наш блог созданный для велосипедистов. Он объединяет людей со сходным мышлением. Пришло время заявить о велосипедной культуре, как о движении нового поколения и сказать, что характеризует велокультуру в целом и нас, велосипедистов.
        ul.blog__list
            - for (let i = 0; i < blog.lenght; i++)
            each item in blog
                li.blog__item
                    img.blog__img(src= item.img alt="blogImg")
                    .blog__text-wrap
                        h3.blog__item-title= item.title
                        p.blog__item-descr= item.descr
                        footer.blog__footer
                            date.blog__item-date= item.date
                            ul.blog__social
                                each icon in social
                                    li.blog__icon-wrap
                                        i.blog__icon.fas(class= icon)
        button.blog__btn more
#blogModal.blog__modal
    span.blog__modal--close
        i.fas.fa-times
    img.blog__modal--image#blogModal1(src="" alt="modal")
    #blogCaption