-
    var social = [
        {
            href: "",
            text: "mail: ikorobka009@gmail.com"
        },
        {
            href: "",
            text: "tel: +38(093) 009 03 78"
        },
        {
            href: "",
            text: "GitHub: ikorobka.github.io"
        }
    ]

footer.footer#contant
    .container
        ul.footer__wrap
            li.footer__contact
                ul.footer__list
                    - for(let i = 0; i < social.lenght; i++)
                    each item in social
                        li.footer__item
                            a.footer__link(href= item.href)= item.text
            li.footer__form
                form
                    input(placeholder="name").footer__input
                    input(placeholder="phone").footer__input
                    input(placeholder="email").footer__input
                    button.footer__btn send