section.about-me 
    .container 
        .about-me__img-wrap
            img.about-me__img(src="img/about-ilya-korobka.png", alt="about-ilya-korobka")
        .about-me__text-wrap 
            h1.about-me__title About Me
            p.about-me__descr 
                | I have been studying programming since childhood and continue to develop in this area. I am always happy to take exciting training courses in order to have a baggage of useful knowledge and apply it in the future. My advantage is self-study skills, quick and productive information search. I am sure that the main thing is to work for the result, then success will not keep you waiting!
            a.about-me__btn.b-n Download CV