extends ../template.pug
block title
	| Home page
block content
	include video/video.pug
	include about/about.pug
	include gallery/gallery.pug
	include blog/blog.pug
	include rating/rating.pug
	#map
	include partners/partners.pug
	button.scroll-to-top
		i.fas.fa-caret-up