-
    var rating = [
        {
            title: "Rigid",
            num: "3285"
        },
        {
            title: "HardTail",
            num: "10496"
        },
        {
            title: "Full Suspension",
            num: "3791"
        },
        {
            title: "SoftTail",
            num: "8914"
        }
    ]

-
    var cards = [
        {   
            title: "Rigid",
            descr: "Этот велосипед вообще не имеет амортизаторов. В качестве примера – шоссейники или BMX, на которые амортизаторы не ставятся в принципе. Как вариант, велосипедом без амортизаторов может оказаться и горный, в том случае, если это начальная модель, а также дорожный. Но чаще всего, амортизаторы отсутствуют либо в эконом-вариантах, либо же в специализированных спортивных аппаратах.",
            img: "https://ilkrbk.github.io/bike/dist/img/rigid.jpg"
        },
        {
            title: "HardTail",
            descr: "В наличии передняя амортизационная вилка. Это наиболее популярный в наше время класс велосипедов, так как езда на нем будет более комфортная, а сам велосипед – более управляемый за счет наличия вилки, особенно если говорить о бездорожье. Ход вилки начинается от 30 и достигает 300мм, в зависимости от того, для чего предназначен велосипед.",
            img: "https://ilkrbk.github.io/bike/dist/img/hard-tail.jpg"
        },
        {
            title: "Full Suspension",
            descr: "К этому классу относятся велосипеды с двумя амортизаторами — передним и задним. Модели могут быть самые разные – и комфортные городские, и сверхлегкие двухподвесы, имеющие малый ход амортизаторов для кросс-кантри, и тяжеленные байки для скоростных спусков («Down Hill»). Исходя из примеров, становится ясно, что чаще всего к третьему классу относятся специализированные спортивные велосипеды, либо же байки для комфортной, приятной езды на малые расстояния.",
            img: "https://ilkrbk.github.io/bike/dist/img/full-suspension.jpg"
        },
        {
            title: "SoftTail",
            descr: "У софттейлов передняя амортизационная вилка, а перья заднего треугольника специальной геометрии, необходимой для большей амортизации. Бывает, что эти перья заменяют короткоходными амортизаторами. Данный класс велосипедов является очень дорогим, обычно это спортивные байки для кросс-кантри.",
            img: "https://ilkrbk.github.io/bike/dist/img/soft-tail.jpg"
        }
    ]

.rating#information
    nav.rating__nav
        ul.rating__list-nav
            - for(let i = 0; i < rating.lenght; i++)
            each item in rating
                li.rating__item-nav
                    h3.rating__title-nav= item.title
                    span.rating__num-nav= item.num
    .container.container--rating
        ul.rating__list
            - for(let k = 0; k < cards.lenght; k++)
            each card in cards
                li.rating__item
                    img.rating__img(src= card.img alt="ratingImg")
                    .rating__text-wrap
                        h3.rating__title= card.title
                        p.rating__descr= card.descr