-
    var nav = [
        {
            value: "",
            text: "web desing"
        },
        {
            value: "",
            text: "web site"
        },
        {
            value: "",
            text: "algorithm"
        },
        {
            value: "",
            text: "application"
        }
    ]
-
    var articles = [
        {
            title: "Bike",
            descr: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, iure quod in ratione eveniet, neque dicta, labore omnis optio placeat ipsam adipisci exercitationem eius delectus similique explicabo! Alias, ducimus itaque?Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, iure quod in ratione eveniet, neque dicta, labore omnis optio placeat ipsam adipisci exercitationem eius delectus similique explicabo! Alias, ducimus itaque?",
            img: "img/article-bike.png",
            link: ""
        },
        {
            title: "barbershop",
            descr: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, iure quod in ratione eveniet, neque dicta, labore omnis optio placeat ipsam adipisci exercitationem eius delectus similique explicabo! Alias, ducimus itaque?Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, iure quod in ratione eveniet, neque dicta, labore omnis optio placeat ipsam adipisci exercitationem eius delectus similique explicabo! Alias, ducimus itaque?",
            img: "img/article-barbershop.png",
            link: ""
        },
        {
            title: "template",
            descr: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, iure quod in ratione eveniet, neque dicta, labore omnis optio placeat ipsam adipisci exercitationem eius delectus similique explicabo! Alias, ducimus itaque?Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, iure quod in ratione eveniet, neque dicta, labore omnis optio placeat ipsam adipisci exercitationem eius delectus similique explicabo! Alias, ducimus itaque?",
            img: "img/article-template.png",
            link: ""
        }
    ]

section.projects 
    .container.f-d-c.j-c-c.a-i-c
        nav.projects__nav 
            ul.projects__list 
                - for(let i = 0; i < nav.length; ++i)
                each item in nav
                    li.projects__item
                        button.projects__btn(type='submit')= item.text
        ul.projects-article__list
            - for(let i = 0; i < articles.length; ++i)
            each article in articles
                li.projects-article__item
                    .projects-article__text
                        h3.projects-article__title= article.title
                        p.projects-article__descr= article.descr
                        a.projects-article__link(href= article.link) more
                    img.projects-article__img(src= article.img)
        a.projects-articles__btn
            | download cv 