extends ../../components/info-static/info-static.pug
block value
    -
        var list = [
            {
                iconClass: 'fa-bicycle',
                title: 'bicycle'
            },
            {
                iconClass: 'fa-chess',
                title: 'logic games'
            },
            {
                iconClass: 'fa-hiking',
                title: 'tourism'
            },
            {
                iconClass: 'fa-code',
                title: 'code'
            },
        ]
    -
        var className = 'hobbies'

block title 
    | Hobbies
block item 
    i.fas.hobbies_icon(class= item.iconClass)
    h3.hobbies__descr= item.title