extends ../template.pug

block title
    | Article

block content
    section.article-page
        .container
            article.article-page__article
                h1.article-page__title
                    | Bee colony
                p 
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam atque quam soluta quia esse eum totam animi at ipsam? Perferendis deleniti illum neque excepturi omnis laborum? Aspernatur amet odio minus!
                .article-page__img-wrap
                    img(src="./img/article-1-img-1.jpeg")
                p 
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam atque quam soluta quia esse eum totam animi at ipsam? Perferendis deleniti illum neque excepturi omnis laborum? Aspernatur amet odio minus!
                p 
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam atque quam soluta quia esse eum totam animi at ipsam? Perferendis deleniti illum neque excepturi omnis laborum? Aspernatur amet odio minus!
                p 
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam atque quam soluta quia esse eum totam animi at ipsam? Perferendis deleniti illum neque excepturi omnis laborum? Aspernatur amet odio minus!
                p 
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam atque quam soluta quia esse eum totam animi at ipsam? Perferendis deleniti illum neque excepturi omnis laborum? Aspernatur amet odio minus!
                .article-page__img-wrap
                    img(src="./img/article-1-img-1.jpeg")