extends ../template.pug
block title
    | Say Hello
block content
    include main/main.pug
    include about-me/about-me.pug
    include github/github.pug
    include soft-skills/soft-skills.pug
    include hard-skills/hard-skills.pug
    include hobbies/hobbies.pug
    include educ-exper/educ-exper.pug
    include contacts/contacts.pug